
body {
    text-align: center;
    margin: 10%;

}
 h1 {
    text-transform: uppercase;
 }

.btn {
    padding: 0;
    background-color: transparent;
    border: none;   
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    padding: 50px 150px;
    border-radius: 5px;
    font-size: 20px;    
    text-transform: uppercase;
    background: rgb(143, 193, 226);
    transition: 0.5s;
  }
  
  .btn:hover {   
    background-color: rgb(43, 190, 63); 
    color: red;   

  }
  
  .btn_text {
    margin-right: 20px;
  }
  
  .btn_text {
    margin-top: 4px;
  }
  
 